.widget-header {
  text-align: end;
  padding-right: 2%;
}

.button {
  margin-bottom: 1%;
}

body {
  color: black;
}

.header, .desc {
  color: white;
  text-align: center;
}

.item {
  background-color: rgb(197, 164, 164);
}

.menu {
  text-align: end;
}

.brown-icon {
  color: rgb(255, 174, 0);
}

.red-icon {
  color: red;
}

.gridster {
  background-color: black;
}

.mat-success {
  background-color: rgb(54, 146, 11);
  color: #fff;
}

.succes-button {
  text-align: end;
  padding-right: 2%;
}

.chart {
  height: inherit;
  width: inherit;
}
